/*RESET*/
*{
    margin: 0;
    padding: 0;
    font-size:10px;
    outline: none;
    text-decoration: none;
}

header{
    background-color: rgb(0, 119, 255);
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: row;
    
}
header img{
    width: 100px;
    padding: 10px 0 0 25px;
}
header p{
    font-size: 2.5em;
    margin: 40px 10px;
    transition: 0.25s;
    font-weight: 700;
    cursor: pointer;
    color:black;
}
header p:hover{
    transform: scale(1.05);
    transition: 0.15s;
    color: rgb(255, 51, 51);
}
.selecionado{
    color:white;
}

section{
    width: 90%;
    margin: 0 auto;
}

section h1{
    font-size: 5em;
    padding: 15px 0;
    color: lightslategrey;
}

div input{
    border: 1px solid gray;
}

div #dia, div #ano{
    width: 75px;
    line-height: 30px;
    text-align: center;
    font-size: 1.6em;
    margin: 0 25px 25px 0px;
}

div #mes, div #tipo{
    width: 150px;
    font-size: 1.6em;
    height: 31px;
    margin: 0 25px 25px 0px;
}

select #tipo{
    width: 250px;
}

div #descricao{
    width: 200px;
    line-height: 30px;
    font-size: 1.6em;
    padding-left: 2px;
    margin: 0 25px 25px 0px;
}

div #valor{
    width: 150px;
    line-height: 30px;
    font-size: 1.6em;
    padding-left: 2px;
    margin: 0 25px 25px 0px;
}

div button{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    transition: 0.25s;
}

div button img{
    width: 20px;
    transition: 0.5s;
}

div button:hover{
    background-color: rgb(0, 153, 255);
}

#modal{
    width: 60%;
    height: 30%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: 5px solid black;
    border-radius:25px;
    display: none;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 10px;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 25%;
    width: 97.6%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.cabecalho img{
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    transition: 0.25s;
    cursor:pointer;
}

.cabecalho img:hover{
    transform: scale(1.05) rotate(45deg);
}

#tituloModal{
    padding: 10px 0;
    font-size:3em;
}

#textoModal{
    font-size:2em;
    color:rgb(255, 255, 255);
    padding: 25px 0;
}

table{
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 25px;
}

th{
    border-top: 2px solid rgb(56, 56, 56);
    border-bottom: 2px solid rgb(56, 56, 56);
    font-size:3em;
}

td{
    font-size:2em;
    text-align:center;
    font-weight: 600;
    color:rgb(0, 0, 0);
    font-weight: 500;
    border-bottom: 1.5px solid rgb(82, 82, 82);
}

.removeButton{
    width: 25px;
    height: 25px;
    margin: 5px;
    background-color: rgb(253, 0, 0);
    border: none;
    cursor: pointer;
    transition: 0.15s;
}

.removeButton span{
    font-weight: 600;
    font-size:1.5em;
}

.removeButton:hover{
    background-color:rgb(182, 0, 0);
    color:white;
}

@media(max-width:650px){
    header{
        height: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    header img{
        width: 150px;
        height: 150px;
        padding: 10px 100px;
    }
    header p{
        font-size:2em;
        
    }

    section h1{
        font-size: 2em;
        padding:25px 5px;
    }
    #modal{
        width: 85%;
    }
    .cabecalho{
        width: 93.5%;
        height: 25%;
    }
    .cabecalho img{
        padding: 10px;
    }

    #tituloModal{
        line-height: 30px;
        font-size: 1.8em;
    }
}